table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;    
}

.entier {
	width: 100%;
}

.inputText {
	border: none;
}

fieldset {
	widht: 100%;
}

.horizontal {
	display: flex; 
	justify-content: space-between;
}

#dechetterie {
	display: flex;
	flex direction: column;
}